---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, showHidden } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const baseHref = showHidden ? '/blog/all' : '/blog';
const oppositeHref = showHidden ? '/blog' : '/blog/all';

const metadata = {
  title: `Archive${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1 && !showHidden,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <h1 class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter font-heading mb-3">Archive</h1>
    <p class="text-muted dark:text-slate-400 mb-12">
      All of my posts.{' '}
      {showHidden ? (
        <a
          href={oppositeHref}
          class="bg-gray-100 dark:bg-slate-700 inline-block ml-1 py-0.5 px-2 lowercase font-medium text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200 text-sm"
        >-hidden</a>
      ) : (
        <a
          href={oppositeHref}
          class="ml-1 underline decoration-dotted underline-offset-4 hover:text-primary dark:hover:text-blue-400"
        >+hidden</a>
      )}
    </p>
    <BlogList posts={page.data} />
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      pageBase={baseHref}
    />
  </section>
</Layout>
